# Ignore node modules in both frontend and backend
Client/node_modules/
Client/.next/

# Ignore environment variables
Client/.env

# Ignore logs
logs
*.log

# === LOG FILES ===
*.log
logs/
npm-debug.log*


# Ignore system files
.DS_Store
Thumbs.db

# Ignore build files
Client/dist/
Client/build/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore coverage reports
coverage/
